/* @group Icon */

#icon-toolbox {
	background: url('../img/icon32.png') no-repeat;
}

/* @end group */


/* @group GUI */

#toolbox_main .table {
	width: 460px;
	height: 1%;
	margin: 20px 0 0;
	padding: 0 0 5px;
	overflow: hidden;
	border: 1px solid #DFDFDF;
}
#toolbox_main .form-table {
	margin: 0;
}
#toolbox_main .form-table th {
	width: 230px;
	vertical-align: middle;
}
#toolbox_main .form-table th small {
	color: #8F8F8F;
	display: block;
}
#toolbox_main .form-table caption {
	width: 100%;
	color: #8F8F8F;
	margin: 0 0 5px;
	background: whiteSmoke;
	line-height: 20px;
	text-shadow: 1px 1px #FFF;
}
#toolbox_main .rounded {
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
#toolbox_main .submit {
	width: 460px;
	height: 1%;
	overflow: hidden;
}
#toolbox_main .help {
	float: right;
	color: #bebebe;
	font-size: 11px;
	text-align: right;
	line-height: 11px;
}

/* @end group */